<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a routerLink="api/applications" class="navbar-brand">Employment Applications Management Portal</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li><a routerLink="/applications" class="nav-link">All Applications</a></li>
              <li><a routerLink="/applications-add" class="nav-link">New Application</a></li>
            </ul>
          </div>
        </div>
    </nav>
</header>